@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Manrope';
  src: url('./components/fonts/Manrope/Manrope-VariableFont_wght.ttf')
    format('ttf');
}
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}
p {
  margin: 0;
}
